p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto, arial;
}
.search_bar {
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    display: grid;
}
.photo_preview_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.photo_preview {
    width: 300px;
    display: grid;
    margin-right: 15px;    
}
.photo {
    width: 300px;
    margin-bottom: 0;
}
.photo_info {
    display: grid;
    grid-template-columns: 50px 1fr;
    
}
.photo_profile {
    width: 50px;
    border-radius: 40px;
    margin-top: 0;
    vertical-align: top;
}
.photo_stats {
    margin-top: 5px;
    margin-left: 10px;
    grid-template-rows: 20px 1fr;
    background-color: rgba(255, 255, 0, 0.3);
    padding: 7px;
    border-radius: 50px;
    display: grid;
    place-items: center;
    text-align: center;
    vertical-align: top;    
    margin-top: 0;
    
}
